:root {
  --text-color: #191919;
  --background-color: #f1f1f1;
  --event-color: sandybrown;
  --grid-color: lightgray;
  --axis-tick-color: lightgray;
  --axis-color: darkgray;
  --label-color: dimgray;
  --header-background-color: white;
  --row-background-color: white;
  --row-background-alt-color: #fffccc;
}

.dark {
  --text-color: #eeeeee;
  --background-color: #292929;
  --event-color: #de50de;
  --grid-color: #3f3f3f;
  --axis-tick-color: #3f3f3f;
  --axis-color: #3f3f3f;
  --label-color: #eeeeee;
  --header-background-color: #292929;
  --row-background-color: #282828;
  --row-background-alt-color: #353535;
}