:root {
  --background-color: white;
  --event-color: sandybrown;
  --grid-color: lightgray;
  --axis-tick-color: lightgray;
  --axis-color: darkgray;
  --label-color: dimgray;
  --row-background-color: none;
  --row-background-alt-color: #fffccc;
}