:root {
  --text-color: #191919;
  --background-color: #f1f1f1;
  --event-color: sandybrown;
  --grid-color: lightgray;
  --axis-tick-color: lightgray;
  --axis-color: darkgray;
  --label-color: dimgray;
  --header-background-color: white;
  --row-background-color: white;
  --row-background-alt-color: #fffccc;
}