.timeline-chart {
  display: inline-block;
  box-sizing: content-box;
  border: 1px solid var(--grid-color);
}

.timeline-chart-row {
  display: flex;
  justify-content: stretch;
  width: 100%;

  background-color: var(--row-background-color);
}

.timeline-chart-row:not(:last-child) {
  border-bottom: 1px solid var(--grid-color);
}

.timeline-chart-row:nth-child(odd) {
  background-color: var(--row-background-alt-color);
}

.timeline-chart-row__date {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  flex-shrink: 0;
  border-right: 1px solid var(--grid-color);
}

.timeline-chart-row__graph {
  flex-grow: 0;
  padding: 5px 0;
  line-height: 0;
}