.timeline-grid {
}

.timeline-grid__row {
  fill: #ffffff;
}

.timeline-grid__row:nth-child(even) {
  fill: #fffbb1;
}

.timeline-grid__separator {
  stroke: lightgray;
}

.timeline-grid__zero {
  stroke: lightgray;
}

.timeline-grid__start, .timeline-grid__end {
  stroke: darkgray;
}