.timeline-grid {
}

.timeline-grid__row {
  fill: var(--row-background-color);
}

.timeline-grid__row:nth-child(even) {
  fill: var(--row-background-alt-color);
}

.timeline-grid__separator {
  stroke: var(--grid-color);
}

.timeline-grid__zero {
  stroke: var(--grid-color);
}

.timeline-grid__start, .timeline-grid__end {
  stroke: darkgray;
}